@import url("../base/_variables.css");

.banner1 {
    top: calc(var(--menu-height) + var(--ribbon-height));
    left: 0;

    width: 100%;
    height: calc(100vh - var(--menu-height) - var(--ribbon-height));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../../img/bg1.jpg");
    background-size: cover;
    background-position: right;
}