@import url("../base/_variables.css");

.banner4 {
    top: calc(var(--menu-height) + var(--ribbon-height));
    left: 0;

    width: 100%;
    height: calc(100vh - var(--menu-height) - var(--ribbon-height));
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url("../../img/bg4.jpg");
    background-size: cover;
    background-position: right;
}

.pad-left-col {
    padding-right: 120px;
}

.pad-right-col {
    padding-left: 120px;
}

.form-space-large {
    margin-bottom: 40px;
}

.form-space-medium {
    margin-bottom: 30px;
}

.form-space-small {
    margin-bottom: 20px;
}

.form-space-smaller {
    margin-bottom: 10px;
}

.form-space-tiny {
    margin-bottom: 4px;
}

.font-alt {
    color: var(--font-alt);
}

.vl {
    border-left: 1px solid #999999;
  }

.stretch {
    display: flex;
    flex-direction: column;
}

input, textarea {
    flex-grow: 1;
    padding: 6px 12px;
}

input:focus {
    outline: none;
}

textarea {
    height: 8em;
}

textarea:focus {
    outline: none;
}

button {
    border: none;
}