@import url("../base/_variables.css");

.banner3 {
    top: calc(var(--menu-height) + var(--ribbon-height));
    left: 0;

    width: 100%;
    height: calc(100vh - var(--menu-height) - var(--ribbon-height));
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url("../../img/bg3.jpg");
    background-size: cover;
    background-position: right;
}

.pic {
    height: 70vh;
    padding-left: 45px;
    float: right;
}
