@import url("../base/_variables.css");

.banner0 {
    top: calc(var(--menu-height) + var(--ribbon-height));
    left: 0;

    width: 100%;
    height: calc(100vh - var(--menu-height) - var(--ribbon-height));
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url("../../img/bg0.jpg");
    background-size: cover;
    background-position: right;
}

.link {
    width: 255px;
    /* height: 450px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-head {
    height: 55px;
    align-content: center;
    text-align: center;
}

.link-pic {
    width: 255px;
    height: 170px;
    padding: 20px 0;
}

.link-body {
    height: 105px;
    margin-bottom: 30px;
    align-content: center;
    text-align: center;
}