.hor {
    display: flex;
    flex-direction: row;
}

.center-y {
    align-items: center;
    justify-content: space-between;
}

.center-x {
    justify-content: center;
}

.sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
}

/* Why does this not work? */
/* .pad-sides {
    padding: 0 120px; 
} */

.pad-x {
    padding: 0 120px;
}

.pad-y {
    padding-top: 90px;
    padding-bottom: 120px;

    /* margin-top: 90px; */
    /* margin-bottom: 120px; */
}

.column-left {
    flex: 1;
}

.column-right {
    flex: 2;
}

.column-even {
    flex: 1;
}

.space {
    margin-top: 3.75em;
}

.space-small {
    margin-top: 2em;
}


/* DEV ONLY - DELETE ME */
.placeholder {
    height: 50vh;
    padding-top: 90px;
    text-align: center;
    font-size: 18px;
}