@import url("_variables.css");

.font-large {
    font-size: var(--font-large);
}

.font-medium {
    font-size: var(--font-medium);
}

.font-small {
    font-size: var(--font-small);
}

.header-font-large {
    font-size: var(--header-font-large);
}

.header-font-medium {
    font-size: var(--header-font-medium);
}

.header-font-small {
    font-size: var(--header-font-small);
}

.footer-font-medium {
    font-size: var(--footer-font-medium);
}

i {
    width: 18px;
    text-align: center;
    margin-right: 5px;
}