:root {
    --font-dark-primary: #111111;
    /* --font-dark-secondary: #817C5F; */
    --font-light-primary: #eeeeee;
    --font-alt: #F1A05A;
    --lines: #999999;
    --bg-primary: #ffffff;
    --bg-menu-primary: #D0C9C0;
    --bg-menu-alt: #e0d9d1;
    --bg-btn-primary: #817C5F;
    --bg-btn-secondary: #9f9977;

    --font-large: 24px;
    --font-medium: 18px;
    --font-small: 16px;

    --header-font-large: 48px;
    --header-font-medium: 32px;
    --header-font-small: 22px;

    --footer-font-large: 20px;
    --footer-font-medium: 15px;

    --menu-height: 7em;
    --ribbon-height: 2em;
}