/* From reset.css */
@layer base {
    /* Smooth scrolling... This is not currently used by any of my ui elements */
    html {
        scroll-behavior: smooth;
    }
}

/* From typography.css */ 
@layer base{
    /* I will probably end up replacing the icons... keep this for now */
    i {
        width: 18px;
        text-align: center;
        margin-right: 8px;
    }
}

/* From layout.css */
@layer base {
    p {
        @apply mb-4;
    }
}

@layer utilities {
    .flex-2 {
        flex-grow: 2;
        flex-shrink: 1;
        @apply basis-0;
    }
}

/* From ribbon.css */
@layer utilities {
    .ribbon-container {
        height: var(--ribbon-height);
    }
}

/* From menu.css */
@layer utilities {
    .menu-container {
        height: var(--menu-height);
    }
    
    .active {
        @apply font-bold;
    }
}

/* From button.css */
@layer components {
    .btn {
        @apply bg-btn-primary text-neutral-100 px-8 py-2.5 rounded-full;
    }

    .btn:hover {
        @apply bg-btn-secondary text-neutral-100;
    }

    .btn-big {
        @apply bg-btn-primary text-neutral-100 px-12 py-2.5 rounded-full;
    }

    .btn-big:hover {
        @apply bg-btn-secondary text-neutral-100;
    }
}