<div th:fragment="footer" class="footer-container">
    <h1 class="header-font-small" th:text="${currentUrl.startsWith('/en') ? 'Kostas Mavrakakis' : 'Κώστας Μαυρακάκης'}"></h1>
    <h2 class="font-small" th:text="${currentUrl.startsWith('/en') ? 'Therapist - EMDR Practicioner - IFS Informed' : 'Ψυχολόγος - EMDR Practicioner - IFS Informed'}"></h2>
    <p th:text="${currentUrl.startsWith('/en') ? 'Address: TBC' : 'Διεύθυνση: TBC'}"></p>
    <p th:text="${currentUrl.startsWith('/en') ? 'Telephone: +30 1234567890 | E-mail: abcdefg@gmail.com' : 'Τηλέφωνο: +30 1234567890 | E-mail: abcdefg@gmail.com'}"></p>
    
    <div class="hl-footer"></div>

    <p th:text="${currentUrl.startsWith('/en') ? '© Copyright 2025 Kostas Mavrakakis' : '© Copyright 2025 Κώστας Μαυρακάκης'}"></p>
</div>
