<div th:fragment="footer" class="footer-container">
    
    <h1 class="footer-font-large" th:text="${currentUrl.startsWith('/en') ? 'Kostas Mavrakakis • Therapist - EMDR Practicioner - IFS Informed' : 'Κώστας Μαυρακάκης • Ψυχολόγος - EMDR Practicioner - IFS Informed'}"></h1>
    <p th:text="${currentUrl.startsWith('/en') ? 'Telephone: +30 1234567890 • E-mail: abcdefg@gmail.com' : 'Τηλέφωνο: +30 1234567890 • E-mail: abcdefg@gmail.com'}"></p>
    
    <p th:text="${currentUrl.startsWith('/en') ? '© Copyright 2025 Kostas Mavrakakis' : '© Copyright 2025 Κώστας Μαυρακάκης'}"></p>
</div>
