<div th:fragment="menuGr" class="menuContainer hor">
    <!-- <div class="navi hor"> -->
        <div class="menuSection">
            <div class="fontBig">Κώστας Μαυρακάκης</div>
            <div class="fontSmall">Ψυχολόγος - EMDR Practicioner - IFS Informed</div>
        </div>
        <div class="menuSection">
            <a th:href="@{/}" class="menuItem fontNormal" th:classappend="${currentPage == 'homeGr' ? 'active' : ''}">Αρχική</a>
            <a th:href="@{/proseggisi}" class="menuItem fontNormal" th:classappend="${currentPage == 'approachGr' ? 'active' : ''}">Προσέγγιση</a>
            <a th:href="@{/traumatotherapeia}" class="menuItem fontNormal" th:classappend="${currentPage == 'traumaTherapyGr' ? 'active' : ''}">Τραυματοθεραπεία</a>
            <a th:href="@{/biografiko}" class="menuItem fontNormal" th:classappend="${currentPage == 'aboutMeGr' ? 'active' : ''}">Βιογραφικό</a>
            <a th:href="@{/epikoinonia}" class="btn fontNormal" th:classappend="${currentPage == 'contactGr' ? 'active' : ''}">Επικοινωνία</a>
        </div>
     <!-- </div> -->

</div>