<div th:fragment="ribbon" class="ribbon-container hor">
    <div class="column-left">
        <div th:text="${currentUrl.startsWith('/en') ? 'Telephone number +30 1234567890' : 'Τηλέφωνο επικοινωνίας +30 1234567890'}"
        class="font-small"></div>
    </div>
    <div class="column-right">
        <a class="font-small"
            th:href="@{ ${
            currentUrl == '/' ? '/en' : (
                currentUrl == '/en' ? '/' : (
                    currentUrl.startsWith('/en') ? currentUrl.substring(3) : '/en' + currentUrl ))} }"
                    th:text="${currentUrl.startsWith('/en') ? 'Gr' : 'En'}"></a>
    </div>
</div>