@layer base {
  /* Base reset */
  *,
  *::before,
  *::after {
    margin: 0; /* default */
    padding: 0; /* not global but default for all relevant items */
    box-sizing: border-box; /* default */
  }

  /* Set base font family, size, and weight */
  html, body {
    font-family: "Manrope", sans-serif; /* base.html -> font-sans */
    font-size: var(--font-medium); /* base-html -> text-lg */
    font-weight: normal; /* default */
    line-height: 1.5; /* base-html -> text-lg */
    color: var(--font-dark-primary); /* base-html -> text-neutral-900 */
    background: var(--bg-primary); /* default */
    /* height: 100%; */
  }

  /* Remove link styling */
  a {
    color: inherit; /* default */
    text-decoration: none; /* default */
  }

  /* Remove list styles */
  ul, ol {
    list-style: none; /* default */
  }

  /* Remove form element styling */
  input, textarea, button, select {
    font: inherit; /* default */
    color: inherit; /* default */
    background: none; /* I added this to form.css */
    border: none; /* I had set this in form.css */
    outline: none; /* outline is important for accessibility */
  }

  /* Reset heading styles */
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* default */
    font-size: inherit; /* default */
  }

  /* Images and media */
  img, video {
    max-width: 100%; /* default */
    display: block; /* default */
  }

  /* Table cleanup */
  table {
    border-collapse: collapse; /* not gonna use tables anyway */
    border-spacing: 0; /* not gonna use tables anyway */
  }

  /* Smooth scrolling */
  html {
    scroll-behavior: smooth; /* I don't have any features that need this. Yet */
  }

  /* Prevent overflow */
  body {
    overflow-x: hidden; /* Doesn't look necessary */
  }
}