@layer base {
    :root {
        --font-dark-primary: #111111;
        --font-light-primary: #eeeeee;
        --font-alt: #F1A05A;
        --bg-primary: #ffffff;
        --bg-menu-primary: #D0C9C0;
        --bg-footer-primary: #beb4a7;
        --bg-btn-primary: #817C5F;
        --bg-btn-secondary: #9f9977;
        --lines: #999999;

        --font-large: 24px;
        --font-medium: 18px;
        --font-small: 16px;

        --header-font-large: 48px;
        --header-font-medium: 32px;
        --header-font-small: 22px;

        --footer-font-medium: 15px;

        --menu-height: 7em;
        --ribbon-height: 2em;

        /* --banner-height: 67vh; */
        --banner-full: calc(100vh - var(--ribbon-height) - var(--menu-height));
        --banner-small: calc(67vh - var(--ribbon-height) - var(--menu-height));
    }
}