* {
    font-family: "Manrope", sans-serif;
    color: #111111;
}

.menuContainer {
    background-color: #D0C9C0;
    height: 6em;
    width: 100%;
    /* width: 95%; */
    /* border-radius: 8px; */
    position: fixed;
    top: 0;
    left: 0;
    /* top: 30px; */
    /* right: 30px; */

    z-index: 1000;
}

.menuContainer a {
    text-decoration: none;
}

.menuContainer a:hover {

    /* EITHER underline on hover: */
    text-decoration: underline #111111;
    text-underline-offset: 8px;

    /* OR color change on hover: */
    /* color: #817C5F; */
}

.hor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menuSection {
    padding: 0 120px;
}

.menuItem {
    padding: 0 10px;
}

.btn {
    background-color: #817C5F;
    color: #EEEEEE;
    padding: 10px 30px;
    border-radius: 32px;
}

a.btn:hover {
    
    /* color change on hover: */
    text-decoration: dotted;
    background-color: #9f9977;
    color: #EEEEEE;
}

.active {
    font-weight: bold;
    /* text-decoration: underline #111111; */
    /* text-underline-offset: 8px; */
}

.fontBig {
    font-size: 24px;
}

.fontNormal {
    font-size: 18px;
}

.fontSmall {
    font-size: 16px;
}

.ribbon {
    transition: transform 0.3s ease-in-out;
}

/* move header or main to visble area */
header {
    padding-top: 6em;
}

/* main {
    padding-top: 6em;
} */

