* {
    font-family: "Manrope", sans-serif;
    color: #111111;
}

body {
    margin: 0;
}

.sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.menuContainer {
    background-color: #D0C9C0;
    height: 6em;
    width: 100%;
}

.menuContainer a {
    text-decoration: none;
}

.menuContainer a:hover {

    /* EITHER underline on hover: */
    text-decoration: underline #111111;
    text-underline-offset: 8px;

    /* OR color change on hover: */
    /* color: #817C5F; */
}

.menuContainer ul {
    list-style: none;
    padding: 0;
}

.menuContainer li {
    padding: 0;
}

.hor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menuSection {
    padding: 0 120px;
}

.menuItem {
    padding: 0 10px;
}

.btn {
    background-color: #817C5F;
    color: #EEEEEE;
    padding: 10px 30px;
    border-radius: 32px;
}

.menuContainer .btn {
    margin-left: 10px;
}

a.btn:hover {
    
    /* color change on hover: */
    text-decoration: dotted;
    background-color: #9f9977;
    color: #EEEEEE;
}

.active {
    font-weight: bold;
    /* text-decoration: underline #111111; */
    /* text-underline-offset: 8px; */
}

.ribbonContainer {
    height: 2em;
    width: 100%;
}

.ribbonContainer a {
    text-decoration: none;
}

.ribbonContainer a:hover {
    font-weight: bold;
}

.fontBig {
    font-size: 24px;
}

.fontNormal {
    font-size: 18px;
}

.fontSmall {
    font-size: 16px;
}
