<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Βιογραφικό | Κώστας Μαυρακάκης</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope" />
<!--    <script type="text/javascript" th:src="@{/js/menu.js}"></script>-->
</head>
<body>
    <div th:insert="fragments/menuGr :: menuGr"></div>

    <img th:src="@{/img/bg1.jpg}" alt="background image">
    <h1>Βιογραφικό.</h1>
</body>
</html>