<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Η προσέγγιση μου</title>
</head>
<body>
    <main layout:fragment="content">
        <!-- Banner -->
        <div th:replace="~{fragments/banner :: banner('/img/bg2.jpg', 'Η Προσέγγιση Μου', null)}"></div>
        <!-- Content -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-8 sm:pt-10 md:pt-20 pb-12 md:pb-24">
            <div class="grid grid-cols-1 md:grid-cols-[minmax(264px,1fr)_2fr]">
                <!-- Title -->
                <div class="md:col-start-1 md:row-start-1 md:row-span-2 md:pr-6 pb-3">
                    <h2 class="text-xl md:text-1.5xl tracking-wide font-semibold">Η Προσέγγιση Μου</h2>
                </div>
                <!-- Text -->
                <div class="md:col-start-2 md:row-start-1 md:pl-6 pb-8 md:pb-16">
                    <div class="txt">
                        <p>Η προσέγγιση μου έχει τις ρίζες της στην Προσωποκεντρική Συμβουλευτική καθώς πιστεύω στην εγγενή 
                            τάση του ανθρώπου προς την ανάπτυξη και την προσαρμογή. Με άλλα λόγια, πιστεύω πως, κάτω από τις 
                            κατάλληλες συνθήκες, ο κάθε άνθρωπος έχει την έμφυτη ικανότητα να πραγματώσει το δυναμικό του. 
                            Επιπλέον, έχω διαπιστώσει μέσα από τη θεραπευτική μου πρακτική πως η θεραπευτική σχέση μπορεί να 
                            λειτουργήσει ως μια αναπτυξιακή εμπειρία. Πρώτιστο μου λοιπόν μέλημα είναι να παρέχω τις 
                            θεραπευτικές συνθήκες της ενσυναίσθησης, της αποδοχής και της αυθεντικότητας και να διευκολύνω 
                            τους ανθρώπους που συνεργάζομαι.</p>
                        <p>Παράλληλα έχω εκπαιδευτεί στην τραυματοθεραπεία με τις μεθόδους EMDR και IFS (Pre-Level One 
                            Training). Πιστεύω βαθιά στην αξία της τραυματοθεραπείας και έχω ενσωματώσει στη δουλειά μου τα 
                            εργαλεία της καθώς έχω διαπιστώσει στην πράξη τη χρησιμότητας τους. Η τραυματοθεραπεία δεν 
                            απευθύνεται μόνο σε ανθρώπους που τους συνέβη κάποιο μεγάλο τραυματικό γεγονός αλλά σε όλους μας 
                            καθώς όλοι βιώνουμε δυσκολες ή στρεσογόνες καταστάσεις στη ζωή μας. Το EMDR μπορεί επίσης να 
                            βοηθήσει σε ένα ευρύ φάσμα διαταραχών όπως ενδεικτικά οι φοβίες, οι κρίσεις πανικού και οι 
                            αγχώδεις διαταραχές. Όσο για το IFS, είναι μια καινοτόμος προσέγγιση που μπορεί να μας βοηθήσει 
                            να έρθουμε σε επαφή με όλες τις πλευρές του εαυτού μας ώστε να αποκτήσουμε εσωτερική αρμονία.</p>
                        <p>Με τη διπλή ιδιότητα του ψυχολόγου και του συγγραφέα, πιστεύω βαθιά ότι η ιστορία του κάθε 
                            ανθρώπου είναι σημαντική και αξίζει να ακουστεί. Είμαι εδώ για να ακούσω την ιστορία σας, να σας 
                            διευκολύνω να διαχειριστείτε τα συναισθήματα που βιώνετε και να σας βοηθήσω να ανακαλύψετε το 
                            δικό σας μονοπάτι προς μια πιο ολοκληρωμένη ζωή.</p>
                    </div>
                </div>
                <!-- Button -->
                <div class="md:col-start-2 md:row-start-2 md:pl-6">
                     <div class="flex flex-col items-center">
                         <a th:href="@{'/contact'}" class="btn-big text-xl md:text-2xl">Κλείσε Συνεδρία</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>