<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>My Approach</title>
</head>
<body>
    <main layout:fragment="content">
        <!-- Hero -->
        <div class="relative w-full h-banner flex flex-col justify-center overflow-hidden">
            <img src="/img/bg1.jpg" alt=""
                class="absolute inset-0 w-full h-full object-cover opacity-80 pointer-events-none z-0"/>
            <div class="px-4 sm:px-6 md:px-8">
                <h1 class="relative z-10 text-center text-2.6xl sm:text-4.2xl md:text-5xl">My approach</h1>
            </div>
        </div>
        <!-- Content -->
        <div class="flex max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-16 sm:pt-20 md:pt-24 pb-32">
            <!-- Tittle -->
            <div class="flex-1">
                <h2 class="text-3.3xl">My approach</h2>
            </div>
            <!-- Approach -->
            <div class="flex-2">
                <div class="mb-16">
                    <p>My approach is rooted in Person-Centered Counseling, as I believe in the innate tendency of 
                        humans toward growth and adaptation. In other words, I believe that, under the right conditions, 
                        every person has the inherent ability to realize their potential. Furthermore, through my 
                        therapeutic practice, I have found that the therapeutic relationship itself can serve as a 
                        developmental experience. My primary concern, therefore, is to provide the therapeutic 
                        conditions of empathy, acceptance, and authenticity, and to support the individuals I work with.</p>
                    <p>Additionally, I have been trained in trauma therapy, including EMDR and IFS (Pre-Level One 
                        Training). I deeply believe in the value of trauma therapy and have integrated its tools into my 
                        work, as I have personally seen their usefulness in practice. Trauma therapy is not only for 
                        those who have experienced major traumatic events but is relevant to all of us, as we all go 
                        through difficult or stressful situations in life. EMDR can also be helpful for a wide range of 
                        conditions such as phobias, panic attacks, and anxiety disorders. As for IFS, it is an 
                        innovative approach that can help us connect with all the parts of ourselves, enabling us to 
                        achieve inner harmony.</p>
                    <p>As a psychologist and a writer, I deeply believe that each person’s story is important and 
                        deserves to be heard. I am here to listen to your story, to help you process your thoughts and 
                        emotions, and to support you in discovering your own path toward a more fulfilling life.</p>
                </div>
                <div class="flex justify-center">
                    <a th:href="@{'/contact'}" class="btn-big text-2xl">Book A Session</a>
                </div>
            </div>
        </div>

    </main>
</body>
</html>