<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title layout:title-pattern="$CONTENT_TITLE | Κώστας Μαυρακάκης">Κώστας Μαυρακάκης</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="font-sans text-lg text-neutral-900">
    <header th:insert="~{fragments/ribbon :: ribbon}"></header>
    <nav th:insert="~{fragments/menu :: menu}" class="relative md:sticky md:top-0 md:z-20"></nav>
    <main layout:fragment="content"></main>
    <footer th:insert="~{fragments/footer :: footer}"> </footer>

    <script src="/js/mobile-menu.js"></script>
</body>
</html>