<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="el">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | Κώστας Μαυρακάκης">Κώστας Μαυρακάκης</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="font-sans text-lg text-neutral-900">
    <header>
        <div th:insert="~{fragments/ribbon :: ribbon}"></div>
    </header>
    <nav class="sticky top-0 overflow-hidden">
        <div th:insert="~{fragments/menu :: menu}"></div>
    </nav>
    <main layout:fragment="content"></main>
    <footer>
        <div th:insert="~{fragments/footer :: footer}"></div>
    </footer>
</body>
</html>