<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title layout:title-pattern="$CONTENT_TITLE | Κώστας Μαυρακάκης">Κώστας Μαυρακάκης</title>

    <link rel="stylesheet" th:href="@{/css/output.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body class="font-sans text-base md:text-lg text-neutral-900">
    <div th:insert="~{fragments/ribbon :: ribbon}" aria-label="Language selector"></div>
    <nav th:insert="~{fragments/menu :: menu}" class="relative xl:sticky xl:top-0 xl:z-20"></nav>
    <main layout:fragment="content"></main>
    <footer th:insert="~{fragments/footer :: footer}"> </footer>

    <script th:src="@{/js/mobile-menu.js}"></script>
</body>
</html>