<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">
<head>
    <title>Επικοινωνία</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" defer></script>
    <script th:src="@{/js/map.js}" defer></script>
    <script th:src="@{/js/form.js}" defer></script>
</head>
<body>
    <main layout:fragment="content">
        <!-- Banner -->
        <div th:replace="~{fragments/banner :: banner(@{/img/bg4.jpg}, 'Επικοινωνία', null)}"></div>
        <!-- Content -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-8 sm:pt-10 md:pt-20 pb-12 md:pb-24">
            <div class="grid grid-cols-1 ml:grid-cols-2 ml:grid-rows-[auto,auto,1fr]">
                <!-- Contact Info -->
                <div class="ml:col-start-1 ml:row-start-1 ml:pr-10 pb-6 md:pb-10 ml:pb-8">
                    <h2 class="text-xl md:text-1.5xl tracking-wide font-semibold pb-3">Στοιχεία Επικοινωνίας</h2>
                    <p class="pb-3 md:pb-4">
                        Για περισσότερες πληροφορίες ή για να κλείσετε ραντεβού, συμπληρώστε τη φόρμα επικοινωνίας ή επικοινωνήστε 
                        απευθείας μαζί μου.</p>
                    <ul>
                        <li class="pb-3 md:pb-4">
                            <svg class="inline w-5 h-5 md:w-[22px] md:h-[22px] fill-current text-neutral-900 mr-1 align-text-top"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path d="M272 112C272 85.5 293.5 64 320 64C346.5 64 368 85.5 368 112C368 138.5 346.5 160 320 160C293.5 160 272 138.5 272 112zM224 256C224 238.3 238.3 224 256 224L320 224C337.7 224 352 238.3 352 256L352 512L384 512C401.7 512 416 526.3 416 544C416 561.7 401.7 576 384 576L256 576C238.3 576 224 561.7 224 544C224 526.3 238.3 512 256 512L288 512L288 288L256 288C238.3 288 224 273.7 224 256z"/></svg>
                            Ατομικές συνεδρίες δια ζώσης ή διαδικτυακά.
                        </li> 
                        <li>
                            <svg class="inline w-5 h-5 md:w-[22px] md:h-[22px] fill-current text-neutral-900 mr-1 align-text-bottom"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path d="M224.2 89C216.3 70.1 195.7 60.1 176.1 65.4L170.6 66.9C106 84.5 50.8 147.1 66.9 223.3C104 398.3 241.7 536 416.7 573.1C493 589.3 555.5 534 573.1 469.4L574.6 463.9C580 444.2 569.9 423.6 551.1 415.8L453.8 375.3C437.3 368.4 418.2 373.2 406.8 387.1L368.2 434.3C297.9 399.4 241.3 341 208.8 269.3L253 233.3C266.9 222 271.6 202.9 264.8 186.3L224.2 89z"/></svg>
                            Τηλέφωνο: <span class="text-orange-400" th:text="${@environment.getProperty('site.owner.telephone')}"></span>
                        </li>
                        <li>
                            <svg class="inline w-5 h-5 md:w-[22px] md:h-[22px] fill-current text-neutral-900 mr-1 align-text-bottom"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path d="M112 128C85.5 128 64 149.5 64 176C64 191.1 71.1 205.3 83.2 214.4L291.2 370.4C308.3 383.2 331.7 383.2 348.8 370.4L556.8 214.4C568.9 205.3 576 191.1 576 176C576 149.5 554.5 128 528 128L112 128zM64 260L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 260L377.6 408.8C343.5 434.4 296.5 434.4 262.4 408.8L64 260z"/></svg>
                            E-mail: <span class="text-orange-400" th:text="${@environment.getProperty('site.owner.email')}"></span>
                        </li>
                    </ul>
                </div>
                <!-- Contact form -->
                <div class="ml:col-start-2 ml:row-start-1 ml:row-span-3 ml:border-l border-neutral-500 ml:pl-10 pb-10 md:pb-14 ml:pb-0">
                    <form th:action="@{/contact}" th:object="${messageDTO}" method="post" id="contactForm" novalidate>
                        <h2 class="text-xl md:text-1.5xl tracking-wide font-semibold pb-3">Φόρμα Επικοινωνίας</h2>
                        <div id="summary">
                            <div th:classappend="${success} ? 'block' : 'hidden'" th:text="${success}"
                                class="msg backend-msg mb-3 px-3 py-2 border-l-4 border-btn-secondary text-sm md:text-base"></div>
                            <div th:classappend="${error} ? 'block' : 'hidden'" th:text="${error}"
                                class="msg backend-msg mb-3 px-3 py-2 border-l-4 border-red-400 text-sm md:text-base"></div>
                            <div id="warning" 
                                class="hidden msg mb-3 px-3 py-2 border-l-4 border-red-400 text-sm md:text-base"></div>
                        </div>
                        <div class="flex flex-col pb-3">
                            <label for="name" class="pb-1">Όνομα<span class="text-red-500">*</span></label>
                            <input type="text" id="name" th:field="*{name}" 
                                class="px-3 py-1.5 grow border border-neutral-500 focus:ring-1 focus:ring-neutral-600 focus:outline-none">
                            <div th:classappend="${#fields.hasErrors('name')} ? 'block' : 'hidden'" 
                                th:text="${#fields.hasErrors('name')} ? ${#fields.errors('name')[0]} : ''"
                                class="msg mt-2 px-3 py-px border-l-4 border-red-400 text-sm md:text-base"></div>
                            <div id="nameError" 
                                class="hidden msg mt-2 px-3 py-px border-l-4 border-red-400 text-sm md:text-base"></div>
                        </div>
                        <div class="flex flex-col pb-3">
                            <label for="email" class="pb-1">E-mail<span class="text-red-500">*</span></label>
                            <input type="email" id="email" th:field="*{email}"
                                class="px-3 py-1.5 grow border border-neutral-500 focus:ring-1 focus:ring-neutral-600 focus:outline-none">
                            <div th:classappend="${#fields.hasErrors('email')} ? 'block' : 'hidden'" 
                                th:text="${#fields.hasErrors('email')} ? ${#fields.errors('email')[0]} : ''"
                                class="msg mt-2 px-3 py-px border-l-4 border-red-400 text-sm md:text-base"></div>
                            <div id="emailError" 
                                class="hidden msg mt-2 px-3 py-px border-l-4 border-red-400 text-sm md:text-base"></div>
                        </div>
                        <div class="flex flex-col pb-3">
                            <label for="telephone" class="pb-1">Τηλέφωνο</label>
                            <input type="tel" id="telephone" th:field="*{telephone}" 
                                class="px-3 py-1.5 grow border border-neutral-500 focus:ring-1 focus:ring-neutral-600 focus:outline-none">
                            <div th:classappend="${#fields.hasErrors('telephone')} ? 'block' : 'hidden'" 
                                th:text="${#fields.hasErrors('telephone')} ? ${#fields.errors('telephone')[0]} : ''"
                                class="msg mt-2 px-3 py-px border-l-4 border-red-400 text-sm md:text-base"></div>
                            <div id="telephoneError" 
                                class="hidden msg mt-2 px-3 py-px border-l-4 border-red-400 text-sm md:text-base"></div>
                        </div>
                        <div class="flex flex-col pb-6">
                            <label for="message" class="pb-1">Το μήνυμα σας<span class="text-red-500">*</span></label>
                            <textarea id="message" th:field="*{message}"
                                class="h-48 px-3 py-1.5 resize-none grow border border-neutral-500 focus:ring-1 focus:ring-neutral-600 focus:outline-none"></textarea>
                            <div th:classappend="${#fields.hasErrors('message')} ? 'block' : 'hidden'" 
                                th:text="${#fields.hasErrors('message')} ? ${#fields.errors('message')[0]} : ''"
                                class="msg mt-2 px-3 py-px border-l-4 border-red-400 text-sm md:text-base"></div>
                            <div id="messageError" 
                                class="hidden msg mt-2 px-3 py-px border-l-4 border-red-400 text-sm md:text-base"></div>
                        </div>
                        <div class="hidden">
                            <label for="info">πληροφορίες</label>
                            <input type="text" id="info" name="info" tabindex="-1" autocomplete="off">
                        </div>
                        <div class="flex flex-col items-center">
                            <button type="submit" class="btn">
                                <span>Αποστολή</span>
                                <span id="spinner" class="spn hidden"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="ml:col-start-1 ml:row-start-2 ml:pr-10">
                    <div id="map" class="relative z-0 h-80"
                        th:attr="data-lat=${@environment.getProperty('office.coordinates.lat')}, data-lon=${@environment.getProperty('office.coordinates.lon')}">
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>