<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Contact</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="/js/map.js"></script>
</head>
<body>
    <main layout:fragment="content">
        <!-- Hero -->
        <div class="relative w-full h-banner flex flex-col justify-center overflow-hidden">
            <img src="/img/bg4.jpg" alt=""
                class="absolute inset-0 w-full h-full object-cover opacity-80 pointer-events-none z-0"/>
            <div class="px-4 sm:px-6 md:px-8">
                <h1 class="relative z-10 text-center text-2.6xl sm:text-4xl md:text-5xl">Contact</h1>
            </div>
        </div>
        <!-- Content -->
        <div class="flex flex-col md:flex-row max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-16 sm:pt-20 md:pt-24 pb-32">
            <!-- Contact Info -->
            <div class="flex-1 md:pr-32">
                <h2 class="text-2xl mb-8">Contact Information</h2>
                <p class="mb-8">
                    For more information or to book a session, you can fill in the contact form on the right or contact me 
                    directly</p>
                <p class="mb-8">
                    <i class="fa fa-info text-center w-4 mr-2" aria-hidden="true"></i>
                    Individual sessions in person or online.</p> 
                <ul class="contact-details mb-8">
                    <li class="mb-1">
                        <i class="fa fa-phone text-center w-4 mr-2" aria-hidden="true"></i>
                        Telephone: <span class="text-orange-400">+30 1234567890</span></li>
                    <li class="mb-1">
                        <i class="fa fa-envelope text-center w-4 mr-2" aria-hidden="true"></i>
                        E-mail: <span class="text-orange-400">abcdefg@gmail.com</span></li>
                </ul>
                <div id="map" class="h-80"></div>
            </div>
            <!-- Seperator -->
            <div class="border-l border-neutral-500"></div>
            <!-- Contact Form -->
            <div class="flex-1 md:pl-32">
                <form>
                    <div class="flex flex-col mb-8">
                        <h2 class="text-2xl mb-8">Contact Form</h2>
                        <label class="mb-2.5" for="name">Name*</label>
                        <input class="mb-5 px-3 py-1.5 grow border border-neutral-500 focus:ring-1 focus:ring-neutral-600 focus:outline-none" 
                            type="text" id="name">
                        <label class="mb-2.5" for="email">E-mail*</label>
                        <input class="mb-5 px-3 py-1.5 grow border border-neutral-500 focus:ring-1 focus:ring-neutral-600 focus:outline-none" 
                            type="text" id="email">
                        <label class="mb-2.5" for="telephone">Telephone</label>
                        <input class="mb-5 px-3 py-1.5 grow border border-neutral-500 focus:ring-1 focus:ring-neutral-600 focus:outline-none" 
                            type="text" id="telephone">
                        <label class="mb-2.5" for="message">Your message*</label>
                        <textarea class="h-36 mb-5 px-3 py-1.5 grow border border-neutral-500 focus:ring-1 focus:ring-neutral-600 focus:outline-none" 
                            id="message"></textarea>
                    </div>
                    <div class="flex justify-center">
                        <!-- <input type="submit" class="btn"> -->
                        <button type="submit" class="btn">Submit</button>
                     </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>