<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Επικοινωνία</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    
    <script src="/js/map.js"></script>
    
</head>
<body>
    <main layout:fragment="content">
        <div class="banner4">
            <h1 class="header-font-large">Επικοινωνία</h1>
        </div>
        <div class="hor pad-x pad-y">
            <div class="column-even-left">
                <h2 class="font-large space-y-small">Στοιχεία Επικοινωνίας</h2>
                <p class="space-y-small">Για περισσότερες πληροφορίες ή για να κλείσετε ραντεβού, συμπληρώστε την φόρμα 
                    δεξιά ή επικοινωνήστε απευθείας μαζί μου.</p>
                <p class="space-y-small"> <i class="fa fa-info" aria-hidden="true"></i>Ατομικές συνεδρίες δια ζώσης ή διαδικτυακά.</p> 
                <ul class="contact-details space-y-small">
                    <li><i class="fa fa-phone" aria-hidden="true"></i> Τηλέφωνο: <span class="font-alt">+30 1234567890</span></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> E-mail: <span class="font-alt">abcdefg@gmail.com</span></li>
                </ul>
                <!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i>Σύνορα Μετς και Νέου Κόσμου.</p> -->
                <div id="map"></div>
            </div>
            <div class="vl"></div>
            <div class="column-even-right">
                <form>
                    <div class="stretch space-y-small">
                        <h2 class="font-large space-y-small">Φόρμα Επικοινωνίας</h2>
                        <label for="name">Όνομα*</label>
                        <input type="text" id="name">
                        <label for="email">E-mail*</label>
                        <input type="text" id="email">
                        <label for="telephone">Τηλέφωνο</label>
                        <input type="text" id="telephone">
                        <label for="message">Το μήνυμα σας*</label>
                        <textarea id="message"></textarea>
                    </div>
                    <div class="hor center-x">
                        <!-- <input type="submit" class="btn"> -->
                        <button type="submit" class="btn">Αποστολή</button>
                     </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>