<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>About Me</title>
</head>
<body>
    <main layout:fragment="content">
        <!-- Banner -->
        <div th:replace="~{fragments/banner :: banner('/img/bg3.jpg', 'Curriculum Vitae', 'Kostas Mavrakakis')}"></div>
        <!-- Content -->
        <div class="flex flex-col-reverse md:flex-row max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-8 sm:pt-10 md:pt-20 pb-12 sm:pb-[3.75rem] md:pb-24">
            <!-- Pic -->
            <div class="flex-1 flex flex-col md:pr-6">
                <div class="self-center md:self-start md:min-w-60 px-4 pt-6 pb-4 sm:pb-6 md:p-0">
                    <img th:src="@{/img/KostasMavrakakis1.jpg}" alt="Kostas Mavrakakis" 
                        class="w-full h-auto object-contain max-w-80 max-h-full">
                    <div class="md:hidden h-px bg-gradient-to-r from-transparent via-btn-primary to-transparent mx-[-1.5rem] my-6"></div>
                </div>
                <a th:href="@{'/contact'}" class="self-center md:hidden btn-big text-xl md:text-2xl">Book A Session</a>
            </div>
            <!-- CV -->
            <div class="flex-2 md:pl-6">
                <div class="txt md:pb-16">
                    <h2 class="text-xl md:text-1.5xl tracking-wide font-semibold pb-3">Curriculum Vitae</h2>
                    <p>I am a psychologist, person-centred counsellor, as well as an EMDR and IFS-informed trauma 
                        therapist.</p>
                    <p>Before entering the field of mental health, I earned a bachelor's and a master's degree in 
                        maritime studies and spent several years working in the shipping industry. </p>
                    <p>In 2009, however, my personal journey of self-discovery led me down a new path. Thus, I went on 
                        to complete a bachelor’s degree in Psychology (BSc in Psychology, Open University) and a 
                        master's degree in Person-Centred Counselling (MSc in Person-Centred Counselling, University of 
                        Strathclyde).</p>
                    <p>Additionally, I have trained in trauma therapy methods, including EMDR training from the Trauma 
                        Therapy Institute of Greece and Pre-Level One training in IFS by Dr. Alexia Rothman and 
                        Trauma2therapy.</p>
                    <p>I offer individual therapy sessions and I have facilitated personal development groups, support 
                        groups for adults with ADHD (in cooperation with ADHD Hellas), as well as groups that combine 
                        creative writing with the therapeutic process. </p>
                    <p>I have also written three book of fiction, which have been published by Kedros Publications.</p>
                </div>
                <div class="hidden md:flex flex-col items-center">
                    <a th:href="@{'/contact'}" class="btn-big text-xl md:text-2xl">Book A Session</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>