<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>About Me</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="banner3">
            <div class="header-font-large">Curriculum Vitae</div>
            <div class="header-font-medium">Kostas Mavrakakis</div>
        </div>
        <div class="hor pad-x pad-y center-x">
            <p class="placeholder">CV (placeholder)</p>
        </div>
    </main>
</body>
</html>