<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Βιογραφικό</title>
</head>
<body>
    <main layout:fragment="content">
        <!-- Banner -->
        <div th:replace="~{fragments/banner :: banner('/img/bg3.jpg', 'Βιογραφικό Σημείωμα', 'Κώστας Μαυρακάκης')}"></div>
        <!-- Content -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-8 sm:pt-10 md:pt-20 pb-12 md:pb-24">
            <div class="grid grid-cols-1 md:grid-cols-[minmax(264px,1fr)_2fr]">
                <!-- Title -->
                <div class="md:col-start-2 md:row-start-1 md:pl-6 pb-3">
                    <h2 class="text-xl md:text-1.5xl tracking-wide font-semibold">Βιογραφικό Σημείωμα</h2>
                </div>
                <!-- Text -->
                <div class="md:col-start-2 md:row-start-2 md:pl-6 pb-6 md:pb-16">
                    <div class="txt">
                        <p>Είμαι ψυχολόγος, προσωποκεντρικός σύμβουλος καθώς και EMDR και IFS-informed τραυματοθεραπευτής.</p>
                        <p>Έχοντας τόσο πτυχίο όσο και μεταπτυχιακό στα ναυτιλιακά, εργάστηκα για αρκετά χρόνια ως στέλεχος 
                            σε ναυτιλιακή επιχείρηση.</p>
                        <p>Το 2009, ωστόσο, οι προσωπικές μου αναζητήσεις και ανησυχίες με οδήγησαν σε ένα νέο μονοπάτι. 
                            Έτσι, απέκτησα πτυχίο Ψυχολογίας (BSc in Psychology, Open University) και μεταπτυχιακό στην 
                            Προσωποκεντρική Συμβουλευτική (MSc in Person-Centred Counselling, University of Strathclyde).</p>
                        <p>Έχω επίσης εκπαιδευτεί στην Τραυματοθεραπεία με τις μεθόδους EMDR από το Ινστιτούτο 
                            Τραυματοθεραπείας και IFS (Pre-Level One Training) από την Dr. Alexia Rothman και το 
                            Trauma2therapy.</p>
                        <p>Πραγματοποιώ ατομικές συνεδρίες και έχω συντονίσει ομάδες προσωπικής ανάπτυξης, ομάδες στήριξης 
                            για ενήλικες με ΔΕΠΥ (σε συνεργασία με το σωματείο ADHD Hellas) καθώς και ομάδες που συνδυάζουν 
                            τη δημιουργική γραφή με τη θεραπευτική διαδικασία.</p>
                        <p>Έχω συγγράψει τρία βιβλία μυθοπλασίας που κυκλοφορούν από τις εκδόσεις Κέδρος.</p>
                    </div>
                </div>
                <!-- Pic -->
                <div class="md:col-start-1 md:row-start-1 md:row-span-3 px-4 md:pl-0 md:pr-6 pb-[2.875rem] md:pb-0">
                    <div class="flex flex-col items-center md:items-start">
                        <img th:src="@{/img/KostasMavrakakis1.jpg}" alt="Κώστας Μαυρακάκης" 
                            class="w-full h-auto object-contain max-w-80 max-h-full img-shadow">
                    </div>
                </div>
                <!-- Button -->
                <div class="md:col-start-2 md:row-start-3 md:pl-6">
                    <div class="flex flex-col items-center">
                        <a th:href="@{'/contact'}" class="btn-big text-xl md:text-2xl">Κλείσε Συνεδρία</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>