<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Βιογραφικό</title>
</head>
<body>
    <main layout:fragment="content">
        <!-- Banner -->
        <div th:replace="~{fragments/banner :: banner('/img/bg3.jpg', 'Βιογραφικό Σημείωμα', 'Κώστας Μαυρακάκης')}"></div>
        <!-- Content -->
        <div class="flex flex-col-reverse md:flex-row max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-8 sm:pt-10 md:pt-20 pb-12 md:pb-24">
            <!-- Pic -->
            <div class="flex-1 flex flex-col md:pr-6">
                <div class="self-center md:self-start md:min-w-60 px-4 pt-6 pb-[2.875rem] md:p-0">
                    <img th:src="@{/img/KostasMavrakakis1.jpg}" alt="Κώστας Μαυρακάκης" 
                        class="w-full h-auto object-contain max-w-80 max-h-full img-shadow">
                </div>
                <a th:href="@{'/contact'}" class="self-center md:hidden btn-big text-xl md:text-2xl">Κλείσε Συνεδρία</a>
            </div>
            <!-- CV -->
            <div class="flex-2 md:pl-6">
                <div class="txt md:pb-16">
                    <h2 class="text-xl md:text-1.5xl tracking-wide font-semibold pb-3">Βιογραφικό Σημείωμα</h2>
                    <p>Είμαι ψυχολόγος, προσωποκεντρικός σύμβουλος καθώς και EMDR και IFS-informed τραυματοθεραπευτής.</p>
                    <p>Έχοντας τόσο πτυχίο όσο και μεταπτυχιακό στα ναυτιλιακά, εργάστηκα για αρκετά χρόνια ως στέλεχος 
                        σε ναυτιλιακή επιχείρηση.</p>
                    <p>Το 2009, ωστόσο, οι προσωπικές μου αναζητήσεις και ανησυχίες με οδήγησαν σε ένα νέο μονοπάτι. 
                        Έτσι, απέκτησα πτυχίο Ψυχολογίας (BSc in Psychology, Open University) και μεταπτυχιακό στην 
                        Προσωποκεντρική Συμβουλευτική (MSc in Person-Centred Counselling, University of Strathclyde).</p>
                    <p>Έχω επίσης εκπαιδευτεί στην Τραυματοθεραπεία με τις μεθόδους EMDR από το Ινστιτούτο 
                        Τραυματοθεραπείας και IFS (Pre-Level One Training) από την Dr. Alexia Rothman και το 
                        Trauma2therapy.</p>
                    <p>Πραγματοποιώ ατομικές συνεδρίες και έχω συντονίσει ομάδες προσωπικής ανάπτυξης, ομάδες στήριξης 
                        για ενήλικες με ΔΕΠΥ (σε συνεργασία με το σωματείο ADHD Hellas) καθώς και ομάδες που συνδυάζουν 
                        τη δημιουργική γραφή με τη θεραπευτική διαδικασία.</p>
                    <p>Έχω συγγράψει τρία βιβλία μυθοπλασίας που κυκλοφορούν από τις εκδόσεις Κέδρος.</p>
                </div>
                <div class="hidden md:flex flex-col items-center">
                    <a th:href="@{'/contact'}" class="btn-big text-xl md:text-2xl">Κλείσε Συνεδρία</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>