<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Αρχική</title>
</head>
<body>
    <main layout:fragment="content">
        <!-- Banner -->
        <div th:replace="~{fragments/banner :: banner(@{/img/bg0.jpg}, 'Καλώς Oρίσατε', null)}"></div>
        <!-- Content -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-8 sm:pt-10 md:pt-20 pb-12 md:pb-24">
            <!-- Main content -->
            <div class="grid grid-cols-1 md:grid-cols-[minmax(264px,1fr)_2fr] pb-6 md:pb-20">
                <!-- Title -->
                <div class="md:col-start-1 md:row-start-1 md:pr-6 pb-3">
                    <h2 class="text-xl md:text-1.5xl tracking-wide font-semibold">Κώστας Μαυρακάκης</h2>
                </div>
                <!-- Text -->
                <div class="md:col-start-2 md:row-start-1 md:pl-6">
                    <div class="txt">
                        <p>Ονομάζομαι Κώστας Μαυρακάκης και είμαι ψυχολόγος, προσωποκεντρικός σύμβουλος και 
                            τραυματοθεραπευτής εκπαιδευμένος στο EMDR και το IFS (Pre-Level One).</p>
                        <p>Το γραφείο μου βρίσκεται στο κέντρο της Αθήνας στα σύνορα Μετς και Νέου Κόσμου (κοντά στο σταθμό 
                            μετρό Ακρόπολη) και προσφέρω ατομικές συνεδρίες τόσο δια ζώσης όσο και διαδικτυακά.</p>
                        <p>Μπορεί να σκέφτεστε να ξεκινήσετε συνεδρίες λόγω κάποιας συγκεκριμένης δυσκολίας ή πρόκλησης που 
                            αντιμετωπίζετε ή λόγω της γενικότερης αίσθησης ότι τα πράγματα στη ζωή σας δεν είναι όπως θα 
                            θέλατε.</p>
                        <p>Σε κάθε περίπτωση, ο ρόλος μου είναι να σας υποστηρίξω και να σας διευκολύνω στην εξερεύνηση των 
                            σκέψεων και των συναισθημάτων σας ώστε να χτίσετε μια πιο ικανοποιητική ζωή.</p>
                        <p>Προσφέρω μια δεκάλεπτη τηλεφωνική συνομιλία που μπορώ να απαντήσω στις ερωτήσεις σας και μια 
                            δωρεάν πρώτη συνεδρία για να δείτε αν σας ταιριάζει η προσέγγιση μου και να δω και εγώ αν μπορώ 
                            να σας βοηθήσω.</p>
                    </div>
                </div>
            </div>
            <!-- Cards -->
            <div class="grid justify-center">
                <div class="grid grid-cols-1 sm:grid-cols-2 ml:grid-cols-3 xl:grid-cols-4 sm:gap-x-6 md:gap-x-8 px-6 sm:px-0 gap-y-7 md:gap-y-16">
                    <div class="flex flex-col justify-between max-w-80">
                        <div>
                            <h3 class="text-center text-xl md:text-1.5xl tracking-wide font-semibold pb-1.5">Βιογραφικό Σημείωμα</h3>
                            <img th:src="@{/img/bg1.jpg}" alt="" class="w-full aspect-[5/3] object-cover mb-1.5">
                            <p class="text-center pb-2.5">
                                Ψυχολόγος και τραυματοθεραπευτής με βάση την προσωποκεντρική προσέγγιση.
                            </p>
                        </div>
                        <a th:href="@{'/cv'}" class="self-center btn">Περισσότερα</a>
                    </div>
                    <div class="flex flex-col justify-between max-w-80">
                        <div>
                            <h3 class="text-center text-xl md:text-1.5xl tracking-wide font-semibold pb-1.5">Η Προσέγγιση Μου</h3>
                            <img th:src="@{/img/bg2.jpg}" alt="" class="w-full aspect-[5/3] object-cover mb-1.5">
                            <p class="text-center pb-2.5">
                                Προσωποκεντρική Συμβουλευτική και τραυματοθεραπεία, με σεβασμό στην προσωπική σας ιστορία.
                            </p>
                        </div>
                        <a th:href="@{'/approach'}" class="self-center btn">Περισσότερα</a>
                    </div>
                    <div class="flex flex-col justify-between max-w-80">
                        <div>
                            <h3 class="text-center text-xl md:text-1.5xl tracking-wide font-semibold pb-1.5 hyphens-manual">Τραυματο&shy;θεραπεία</h3>
                            <img th:src="@{/img/bg3.jpg}" alt="" class="w-full aspect-[5/3] object-cover mb-1.5">
                            <p class="text-center pb-2.5">
                                Πώς μας επιρρεάζει το άγχος και οι αντιξοότητες — και πώς μπορεί να μας ωφελήσει η θεραπεία.
                            </p>
                        </div>
                        <a th:href="@{'/trauma_therapy'}" class="self-center btn">Περισσότερα</a>
                    </div>
                    <div class="ml:col-start-2 xl:col-start-4 flex flex-col justify-between max-w-80">
                        <div>
                            <h3 class="text-center text-xl md:text-1.5xl tracking-wide font-semibold pb-1.5">Επικοινωνία</h3>
                            <img th:src="@{/img/bg4.jpg}" alt="" class="w-full aspect-[5/3] object-cover mb-1.5">
                            <p class="text-center pb-2.5">
                                Έχετε απορίες ή θέλετε να κλείσετε συνεδρία; Συμπληρώστε τη φόρμα ή επικοινωνήστε μαζί μου απευθείας.
                            </p>
                        </div>
                        <a th:href="@{'/contact'}" class="self-center btn">Περισσότερα</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>