<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Αρχική</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="banner0">
            <div class="header-font-large">Καλωσόρισμα</div>
        </div>

        <div class="pad-x pad-y">
            <div class="hor">
                <div class="column-left">
                    <div class="header-font-medium">Κώστας Μαυρακάκης</div>
                    <div class="header-font-small">Ψυχολόγος - Τραυματοθεραπευτής</div>
                </div>
                <div class="column-right">
                    <div class="paragraph font-medium">Ονομάζομαι Κώστας Μαυρακάκης και είμαι ψυχολόγος, προσωποκεντρικός σύμβουλος 
                        και τραυματοθεραπευτής εκπαιδευμένος στο EMDR και το IFS (pre-level 1).</div>
                    <div class="paragraph font-medium">Το γραφείο μου βρίσκεται στο κέντρο της Αθήνας στα σύνορα Μετς και Νέου Κόσμου 
                        (κοντά στο σταθμό μετρό Ακρόπολη) και προσφέρω ατομικές συνεδρίες τόσο δια ζώσης όσο και διαδικτυακά.</div>
                    <div class="paragraph font-medium">Μπορεί να σκέφτεστε να ξεκινήσετε συνεδρίες λόγω κάποιας συγκεκριμένης δυσκολίας 
                        ή πρόκλησης που αντιμετωπίζετε ή λόγω της γενικότερης αίσθησης ότι τα πράγματα στη ζωή σας δεν είναι όπως θα 
                        θέλατε.</div>
                    <div class="paragraph font-medium">Σε κάθε περίπτωση, ο ρόλος μου είναι να σας υποστηρίξω και να σας διευκολύνω 
                        στην εξερεύνηση των σκέψεων και των συναισθημάτων σας ώστε να χτίσετε μια πιο ικανοποιητική ζωή.</div>
                    <div class="paragraph font-medium">Προσφέρω μια δεκάλεπτη τηλεφωνική συνομιλία που μπορώ να απαντήσω στις ερωτήσεις 
                        σας και μια δωρεάν πρώτη συνεδρία για να δείτε αν σας ταιριάζει η προσέγγιση μου και να δω και εγώ αν μπορώ να 
                        σας βοήθησω.</div>
                </div>
            </div>
            <div class="hor center-y space">
                <div class="link">
                    <div class="link-head header-font-small"> Η προσέγγιση μου </div>
                    <img th:src="@{/img/bg1.jpg}" alt="προσέγγιση" class="link-pic">
                    <div class="link-body font-medium">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie nunc at ultrices bibendum.
                    </div>
                    <div>
                        <a th:href="@{'/approach'}" class="btn font-medium">Περισσότερα</a>
                    </div>
                </div>
                <div class="link">
                    <div class="link-head header-font-small"> Τι είναι η τραυματοθεραπεία; </div>
                    <img th:src="@{/img/bg2.jpg}" alt="τραυματοθεραπεία" class="link-pic">
                    <div class="link-body font-medium">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div>
                        <a th:href="@{'/trauma_therapy'}" class="btn font-medium">Περισσότερα </a>
                    </div>
                </div>
                <div class="link">
                    <div class="link-head header-font-small"> Βιογραφικό Σημείωμα </div>
                    <img th:src="@{/img/bg3.jpg}" alt="βιογραφικό σημείωμα" class="link-pic">
                    <div class="link-body font-medium">
                        Lorem ipsum dolor sit amet.  Morbi molestie nunc at ultrices bibendum.
                    </div>
                    <div>
                        <a th:href="@{'/cv'}" class="btn font-medium">Περισσότερα</a>
                    </div>
                </div>
                <div class="link">
                    <div class="link-head header-font-small"> Επικοινωνία </div>
                    <img th:src="@{/img/bg4.jpg}" alt="επικοινωνία" class="link-pic">
                    <div class="link-body font-medium">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie nunc at ultrices bibendum.
                    </div>
                    <div>
                        <a th:href="@{'/contact'}" class="btn font-medium">Περισσότερα</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>