<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Αρχική</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="banner0">
            <h1 class="header-font-large">Καλωσόρισμα</h1>
        </div>

        <div class="pad-x pad-y">
            <div class="hor space-y">
                <div class="column-left">
                    <h2 class="header-font-medium">Κώστας Μαυρακάκης</h2>
                    <h2 class="header-font-small">Ψυχολόγος - Τραυματοθεραπευτής</h2>
                </div>
                <div class="column-right">
                    <p>Ονομάζομαι Κώστας Μαυρακάκης και είμαι ψυχολόγος, προσωποκεντρικός σύμβουλος 
                        και τραυματοθεραπευτής εκπαιδευμένος στο EMDR και το IFS (pre-level 1).</p>
                    <p>Το γραφείο μου βρίσκεται στο κέντρο της Αθήνας στα σύνορα Μετς και Νέου Κόσμου 
                        (κοντά στο σταθμό μετρό Ακρόπολη) και προσφέρω ατομικές συνεδρίες τόσο δια ζώσης όσο και διαδικτυακά.</p>
                    <p>Μπορεί να σκέφτεστε να ξεκινήσετε συνεδρίες λόγω κάποιας συγκεκριμένης δυσκολίας 
                        ή πρόκλησης που αντιμετωπίζετε ή λόγω της γενικότερης αίσθησης ότι τα πράγματα στη ζωή σας δεν είναι όπως θα 
                        θέλατε.</p>
                    <p>Σε κάθε περίπτωση, ο ρόλος μου είναι να σας υποστηρίξω και να σας διευκολύνω 
                        στην εξερεύνηση των σκέψεων και των συναισθημάτων σας ώστε να χτίσετε μια πιο ικανοποιητική ζωή.</p>
                    <p>Προσφέρω μια δεκάλεπτη τηλεφωνική συνομιλία που μπορώ να απαντήσω στις ερωτήσεις 
                        σας και μια δωρεάν πρώτη συνεδρία για να δείτε αν σας ταιριάζει η προσέγγιση μου και να δω και εγώ αν μπορώ να 
                        σας βοήθησω.</p>
                </div>
            </div>
            <div>
                <ul class="hor center-y">
                    <li class="link">
                        <h2 class="link-head header-font-small"> Η προσέγγιση μου </h2>
                        <img th:src="@{/img/bg1.jpg}" alt="προσέγγιση" class="link-pic">
                        <p class="link-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie nunc at ultrices bibendum.
                        </p>
                        <a th:href="@{'/approach'}" class="btn">Περισσότερα</a>
                    </li>
                    <li class="link">
                        <h2 class="link-head header-font-small"> Τι είναι η τραυματοθεραπεία; </h2>
                        <img th:src="@{/img/bg2.jpg}" alt="τραυματοθεραπεία" class="link-pic">
                        <p class="link-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <a th:href="@{'/trauma_therapy'}" class="btn">Περισσότερα </a>
                    </li>
                    <li class="link">
                        <h2 class="link-head header-font-small"> Βιογραφικό Σημείωμα </h2>
                        <img th:src="@{/img/bg3.jpg}" alt="βιογραφικό σημείωμα" class="link-pic">
                        <p class="link-body">
                            Lorem ipsum dolor sit amet.  Morbi molestie nunc at ultrices bibendum.
                        </p>
                        <a th:href="@{'/cv'}" class="btn">Περισσότερα</a>
                    </li>
                    <li class="link">
                        <h2 class="link-head header-font-small"> Επικοινωνία </h2>
                        <img th:src="@{/img/bg4.jpg}" alt="επικοινωνία" class="link-pic">
                        <p class="link-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie nunc at ultrices bibendum.
                        </p>
                        <a th:href="@{'/contact'}" class="btn">Περισσότερα</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>