<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Home</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="banner0">
            <h1 class="header-font-large">Welcome</h1>
        </div>
        <div class="pad-x pad-y">
            <div class="hor space-y">
                <div class="column-left">
                    <h2 class="header-font-medium">Kostas Mavrakakis</h2>
                </div>
                <div class="column-right">
                    <p>My name is Kostas Mavrakakis and I am a psychologist, person-centred counsellor, and trauma 
                        therapist trained in EMDR and IFS (pre-level 1).</p>
                    <p>My office is located in the center of Athens (near the Acropolis metro station), and I offer 
                        individual sessions both in person and online.</p>
                    <p>You may be considering starting sessions due to a specific difficulty or challenge you are 
                        facing, or due to a general feeling that things in your life aren't quite how you would like 
                        them to be.</p>
                    <p>In any case, my role is to support and assist you in exploring your thoughts and emotions in 
                        order to build a more fulfilling life.</p>
                    <p>I offer a ten-minute phone call where I can answer your questions, as well as a free first 
                        session for you to see whether my approach suits you - and for me to see if I can help you.</p>
                </div>
            </div>
            <div>
                <ul class="hor center-y">
                    <li class="link">
                        <h2 class="link-head header-font-small">About Me</h2>
                        <img th:src="@{/img/bg3.jpg}" alt="about me" class="link-pic">
                        <p class="link-body">
                            Lorem ipsum dolor sit amet. Morbi molestie nunc at ultrices bibendum.
                        </p>
                        <a th:href="@{'/cv'}" class="btn">Read More</a>
                    </li>
                    <li class="link">
                        <h2 class="link-head header-font-small">My Approch</h2>
                        <img th:src="@{/img/bg1.jpg}" alt="my approach" class="link-pic">
                        <p class="link-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie nunc at ultrices 
                            bibendum.
                        </p>
                        <a th:href="@{'/approach'}" class="btn">Read More</a>
                    </li>
                    <li class="link">
                        <h2 class="link-head header-font-small">About Trauma Therapy</h2>
                        <img th:src="@{/img/bg2.jpg}" alt="about trauma therapy" class="link-pic">
                        <p class="link-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <a th:href="@{'/trauma_therapy'}" class="btn">Read More </a>
                    </li>
                    <li class="link">
                        <h2 class="link-head header-font-small">Contact</h2>
                        <img th:src="@{/img/bg4.jpg}" alt="contact" class="link-pic">
                        <p class="link-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie nunc at ultrices 
                            bibendum.
                        </p>
                        <a th:href="@{'/contact'}" class="btn">Read More</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>