<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Τραυματοθεραπεία</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="banner2">
            <div class="head">Τραυματοθεραπεία</div>
        </div>
        <div class="stuff hor-alt">
            <div class="column-left-alt">
                <h1>Τι είναι η τραυματοθεραπεία</h1>
            </div>

            <div class="column-right-alt">
                <p>Η τραυματοθεραπεία είναι η μορφή ψυχοθεραπείας που μπορεί να σε βοηθήσει να αντιμετωπίσεις τις συναισθηματικές και 
                    ψυχολογικές συνέπειες των τραυματικών και στρεσογόνων γεγονότων. Οι τραυματικές εμπειρίες μπορούν να προέλθουν από 
                    ένα ευρύ φάσμα καταστάσεων όπως η κακοποίηση και παραμέληση, το να υφίστασαι ή να γίνεσαι μάρτυρας βίας, οι σοβαροί 
                    τραυματισμοί και απειλητικές για τη ζωή καταστάσεις. Σχεδόν όλοι μας θα έρθουμε αντιμέτωποι σε κάποια φάση της ζωής 
                    μας με τραυματικές ή στρεσογόνες καταστάσεις</p>

                <div class="space">
                    <a th:href="@{'/contact'}" class="btn-big font-large"> Κλείσε συνεδρία</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>