<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Trauma Therapy</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="banner2">
            <h1 class="text-5xl">Trauma Therapy</h1>
        </div>
        <div class="flex px-32 pt-24 pb-32">
            <div class="flex-1">
                <h2 class="text-3.5xl">About Trauma Therapy</h2>
            </div>
            <div class="flex-2">
                <div class="mb-16">
                    <p>Trauma therapy is a form of psychotherapy that can help you cope with the emotional and 
                        psychological effects of traumatic and stressful events. Traumatic experiences can stem from a 
                        wide range of situations such as abuse and neglect, experiencing or witnessing violence, serious 
                        injuries, and life-threatening situations. Almost all of us will face traumatic or stressful 
                        situations at some point in our lives.</p>
                </div>
                    <div class="flex justify-center">
                    <a th:href="@{'/contact'}" class="btn-big text-2xl">Book A Session</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>