<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Trauma Therapy</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="banner2">
            <h1 class="header-font-large">Trauma Therapy</h1>
        </div>
        <div class="hor pad-x pad-y">
            <div class="column-left">
                <h2 class="header-font-medium">About Trauma Therapy</h2>
            </div>
            <div class="column-right">
                <div class="space-y">
                    <p>Trauma therapy is a form of psychotherapy that can help you cope with the emotional and 
                        psychological effects of traumatic and stressful events. Traumatic experiences can stem from a 
                        wide range of situations such as abuse and neglect, experiencing or witnessing violence, serious 
                        injuries, and life-threatening situations. Almost all of us will face traumatic or stressful 
                        situations at some point in our lives.</p>
                </div>
                    <div class="hor center-x">
                    <a th:href="@{'/contact'}" class="btn-big font-large">Book A Session</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>