<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Τραυματοθεραπεία</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="relative w-full h-banner-full flex flex-col items-center justify-center overflow-hidden">
            <img src="/img/bg2.jpg" alt=""
                class="absolute inset-0 w-full h-full object-cover opacity-80 pointer-events-none z-0"/>
            <h1 class="relative z-10 text-5xl">Τραυματοθεραπεία</h1>
        </div>
        <div class="flex max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-24 pb-32">
            <div class="flex-1">
                <h2 class="text-3.5xl">Τι Είναι Η Τραυματοθεραπεία</h2>
            </div>
            <div class="flex-2">
                <div class="mb-16">
                    <p>Η τραυματοθεραπεία είναι η μορφή ψυχοθεραπείας που μπορεί να σε βοηθήσει να αντιμετωπίσεις τις 
                        συναισθηματικές και ψυχολογικές συνέπειες των τραυματικών και στρεσογόνων γεγονότων. Οι 
                        τραυματικές εμπειρίες μπορούν να προέλθουν από ένα ευρύ φάσμα καταστάσεων όπως η κακοποίηση και 
                        παραμέληση, το να υφίστασαι ή να γίνεσαι μάρτυρας βίας, οι σοβαροί τραυματισμοί και απειλητικές 
                        για τη ζωή καταστάσεις. Σχεδόν όλοι μας θα έρθουμε αντιμέτωποι σε κάποια φάση της ζωής μας με 
                        τραυματικές ή στρεσογόνες καταστάσεις.</p>
                </div>
                <div class="flex justify-center">
                    <a th:href="@{'/contact'}" class="btn-big text-2xl">Κλείσε Συνεδρία</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>