<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">
<head>
    <title>Τραυματοθεραπεία | Κώστας Μαυρακάκης</title>

    <meta name="description" content="Something">

    <meta property="og:site_name" content="Κώστας Μαυρακάκης | Ψυχολόγος - EMDR Practicioner - IFS Informed">
    <meta property="og:title" content="Τραυματοθεραπεία | Κώστας Μαυρακάκης">
    <meta property="og:description" content="The same something">
    <meta property="og:url" th:content="${@environment.getProperty('site.base.url')} + ${(currentUrl == '/' ? '' : currentUrl)}">
    <meta property="og:locale" th:content="${currentUrl.startsWith('/en') ? 'en_US' : 'el_GR'}">
    <meta property="og:type" th:content="${currentUrl == '/' || currentUrl =='/en' ? 'website' : 'article'}">
</head>
<body>
    <main layout:fragment="content">
        <!-- Banner -->
        <div th:replace="~{fragments/banner :: banner(@{/img/bg3.jpg}, 'Τραυματοθεραπεία', null)}"></div>
        <!-- Content -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-8 sm:pt-10 md:pt-20 pb-12 md:pb-24">
            <div class="grid grid-cols-1 md:grid-cols-[minmax(264px,1fr)_2fr]">
                <!-- Title -->
                <div class="md:col-start-1 md:row-start-1 md:row-span-2 md:pr-6 pb-3">
                    <h2 class="text-xl md:text-1.5xl tracking-wide font-semibold">Λίγα Λόγια για την Τραυματοθεραπεία</h2>
                </div>
                <!-- Text -->
                <div class="md:col-start-2 md:row-start-1 md:pl-6 pb-8 md:pb-16">
                    <div class="txt">
                        <p>Η τραυματοθεραπεία είναι η μορφή ψυχοθεραπείας που μπορεί να σε βοηθήσει να αντιμετωπίσεις τις 
                            συναισθηματικές και ψυχολογικές συνέπειες των τραυματικών και στρεσογόνων γεγονότων. Οι 
                            τραυματικές εμπειρίες μπορούν να προέλθουν από ένα ευρύ φάσμα καταστάσεων όπως η κακοποίηση και 
                            παραμέληση, το να υφίστασαι ή να γίνεσαι μάρτυρας βίας, οι σοβαροί τραυματισμοί και απειλητικές 
                            για τη ζωή καταστάσεις. Σχεδόν όλοι μας θα έρθουμε αντιμέτωποι σε κάποια φάση της ζωής μας με 
                            τραυματικές ή στρεσογόνες καταστάσεις.</p>
                    </div>
                </div>
                <!-- Button -->
                <div class="md:col-start-2 md:row-start-2 md:pl-6">
                     <div class="flex flex-col items-center">
                         <a th:href="@{'/contact'}" class="btn-big text-xl md:text-2xl">Κλείσε Συνεδρία</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>