@import url("../base/_variables.css");

.btn {
    background-color: var(--bg-btn-primary);
    color: var(--font-light-primary);
    padding: 10px 30px;
    border-radius: 32px;
}

a.btn:hover {
    
    /* color change on hover: */
    text-decoration: dotted;
    background-color: var(--bg-btn-secondary);
    color: var(--font-light-primary);
}