@import url("../base/_variables.css");

.footer-container {
    background-color: var(--bg-menu-primary);
    text-align: center;
    padding: 25px 0;
}

.footer-container h2 {
    font-size: var(--footer-font-medium);
    padding-bottom: 10px;
}

.footer-container p {
    font-size: var(--footer-font-medium);
    margin: 0;
}

.hl-footer {
    border-bottom: 3px solid var(--font-light-primary);
    margin: 25px 0;
}