@import url("../base/_variables.css");

.footer-container {
    background-color: var(--bg-btn-primary);
    height: 5em;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container * {
    color: var(--font-light-primary);

}