@import url("../base/_variables.css");

.ribbon-container {
    height: var(--ribbon-height);
}

.ribbon-container a {
    text-decoration: none;
}

.ribbon-container a:hover {
    font-weight: bold;
}

.flag-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.flag-icon:hover {
    opacity: 70%;
}
