@import url("../base/_variables.css");

.ribbon-container {
    height: var(--ribbon-height);
    width: 100%;
}

.ribbon-container a {
    text-decoration: none;
}

.ribbon-container a:hover {
    font-weight: bold;
}