@layer components {
    .btn {
        text-decoration: none;
        background-color: var(--bg-btn-primary);
        color: var(--font-light-primary);
        padding: 10px 30px;
        border-radius: 32px;
    }

    .btn:hover {
        text-decoration: none;
        background-color: var(--bg-btn-secondary);
        color: var(--font-light-primary);
    }

    .btn-big {
        text-decoration: none;
        background-color: var(--bg-btn-primary);
        color: var(--font-light-primary);
        padding: 10px 50px;
        border-radius: 32px;
    }

    .btn-big:hover {
        text-decoration: none;
        background-color: var(--bg-btn-secondary);
        color: var(--font-light-primary);
    }
}