@import url("../base/_variables.css");

.footer-container {
    background-color: var(--bg-footer-primary);
    text-align: center;
    padding: 25px 0;
}

.footer-container h1 {
    font-size: var(--footer-font-medium);
}

.footer-container p {
    font-size: var(--footer-font-medium);
    margin: 0;
    padding-bottom: 10px;
}