@import url("../base/_variables.css");

.ribbon-container {
    height: var(--ribbon-height);
}

.ribbon-item {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.ribbon-item:hover {
    opacity: 70%;
}
